<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit schedule</h4>
    <button
      type="button"
      class="close btn btn-outline-secondary"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend input-group-lg">
          <label class="input-group-text label-prepend" for="class"
            ><b>Class:</b>
          </label>
        </div>
        <input
          [readonly]="!edit"
          [(ngModel)]="class_name"
          type="text"
          class="form-control"
          id="class"
          name="class"
          aria-describedby="inputGroup-sizing-lg"
          value="{{ dayClass.classn.name }}"
        />
      </div>
    </form>
    <b>Hour:</b> {{ dayClass.localTime.slice(0, 5) }} <br />
    <b>Section:</b> {{ dayClass.classn.section }} <br />
    <b>Year:</b> {{ dayClass.classn.year }} <br />
    <b>Teacher:</b> {{ dayClass.classn.teacher.first_name }}
    {{ dayClass.classn.teacher.last_name }} <br />
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text label-prepend" for="classroomSelect"
            ><b>Classroom: </b>
          </label>
        </div>
        <select
          [disabled]="!edit"
          class="form-control"
          id="classroomSelect"
          aria-describedby="basic-addon3"
          name="classroomSelect"
          [(ngModel)]="selectedClassroom"
          required
        >
          <option [value]="dayClass.classroom">
            {{ dayClass.classroom.name }} <i>at</i>
            {{ dayClass.classroom.location }}
          </option>
          <option
            *ngFor="let classroom of filteredClassrooms"
            [value]="classroom.id"
          >
            {{ classroom.name }} <i>at</i>
            {{ classroom.location }}
          </option>
        </select>
      </div>
    </form>
    <b>Features:</b
    ><button
      type="button"
      class="btn btn-outline-secondary btn-sm feature-btn"
      disabled
      *ngFor="let feature of features"
    >
      {{ feature.feature }}
    </button>
    <br />
    <b>Capacity:</b> {{ capacity }}/{{ dayClass.classroom.capacity }} <br />
    <button
      type="button"
      class="btn btn-outline-secondary"
      *ngIf="!edit"
      (click)="onEdit()"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary margin15"
      *ngIf="edit"
      (click)="onSave()"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      *ngIf="edit"
      (click)="onEdit()"
    >
     Cancel
    </button>
  </div>
  <div class="modal-footer">
    <div class="max-width">
      <b>Make a reservation:</b> <br />
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="studentsSelect"
              >Select student :
            </label>
          </div>
          <select
            class="form-control"
            id="studentsSelect"
            aria-describedby="basic-addon3"
            name="studentSelect"
            [(ngModel)]="selectedStudent"
            required
          >
            <option hidden>Choose here</option>
            <option *ngFor="let student of students" [value]="student.id">
              {{ student.first_name }} {{ student.last_name }}
            </option>
          </select>
        </div>
      </form>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close(1)"
      >
        Reserve
      </button>
    </div>
    <div class="max-width">
      <b>Delete a reservation:</b> <br />
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="reservationSelect"
              >Select reservation :
            </label>
          </div>
          <select
            class="form-control"
            id="reservationSelect"
            aria-describedby="basic-addon3"
            name="reservationSelect"
            [(ngModel)]="selectedReservation"
            required
          >
            <option hidden>Choose here</option>
            <option
              *ngFor="let reservation of reservations"
              [value]="reservation.id"
            >
              {{ reservation.student.first_name }}
              {{ reservation.student.last_name }}
            </option>
          </select>
        </div>
      </form>
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="modal.close(2)"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="modal-footer">
    <button
    type="button"
    class="btn btn-outline-danger"
    (click)="modal.close(3)"
  >
  
    Delete schedule item
  </button>
  </div>
</ng-template>
