table {
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
}
thead{
    vertical-align: middle;

}
thead, tbody, tfoot, tr, td, th {
    border-style: solid none solid none;
}
.width10{
    width: 10%;
}