<h4>Select your role:</h4>
<div
  class="btn-group"
  role="group"
  aria-label="Basic radio toggle button group"
>
 <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect1"
    autocomplete="off"
    [(ngModel)]="role"
    value="guest"
    checked = "true"
    (change)="onChange()"
  /> 
    
  <label class="btn btn-outline-secondary" for="roleSelect1">Guest</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect2"
    autocomplete="off"
    [(ngModel)]="role"
    value="student"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect2">Student</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect3"
    autocomplete="off"
    [(ngModel)]="role"
    value="teacher"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect3">Teacher</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect4"
    autocomplete="off"
    [(ngModel)]="role"
    value="admin"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect4">Admin</label>
</div>
<br>
<div class="manage-div">
<div ngbDropdown *ngIf="role=='admin'" class="margin15">
  <button class="btn btn-outline-info adm-btn" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button type="button" (click)="onAddUser()" class="dropdown-item btn btn-outline-secondary">Manage users</button>
    <button type="button" (click)="onAddClass()" class="dropdown-item btn btn-outline-secondary">Manage classes</button> 
    <button type="button" (click)="onAddClassroom()" class="dropdown-item btn btn-outline-secondary">Manage classrooms</button> 
  </div>
</div>
<button type="button" *ngIf="role=='teacher' || role=='admin'" (click)="onAddSchedule()" class="btn btn-outline-info adm-btn">Add schedule</button>

</div>
<app-new-schedule-modal *ngIf="role=='teacher' || role=='admin'" [events]="newScheduleEventSubject.asObservable()"></app-new-schedule-modal>
<app-manage-users *ngIf="role=='admin' && !refresh" [events]="newUserEventSubject.asObservable()"></app-manage-users>
<app-manage-classes *ngIf="role=='admin' && !refresh" [events]="newClassEventSubject.asObservable()"></app-manage-classes>
<app-manage-classrooms *ngIf="role=='admin' && !refresh" [events]="newClassroomEventSubject.asObservable()"></app-manage-classrooms>
