<h4>Select your role:</h4>
<div
  class="btn-group"
  role="group"
  aria-label="Basic radio toggle button group"
>
 <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect1"
    autocomplete="off"
    [(ngModel)]="role"
    value="guest"
    checked = "true"
    (change)="onChange()"
  /> 
    
  <label class="btn btn-outline-secondary" for="roleSelect1">Guest</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect2"
    autocomplete="off"
    [(ngModel)]="role"
    value="student"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect2">Student</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect3"
    autocomplete="off"
    [(ngModel)]="role"
    value="teacher"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect3">Teacher</label>

  <input
    type="radio"
    class="btn-check"
    name="roleSelect"
    id="roleSelect4"
    autocomplete="off"
    [(ngModel)]="role"
    value="admin"
    (change)="onChange()"
  />
  <label class="btn btn-outline-secondary" for="roleSelect4">Admin</label>
</div>
<br>
<button type="button" *ngIf="role=='teacher' || role=='admin'" (click)="onAddSchedule()" class="btn btn-outline-secondary margin15">Add new schedule item</button>
<button type="button" *ngIf="role=='admin'" (click)="onAddUser()" class="btn btn-outline-secondary margin15">Manage users</button>
<button type="button" *ngIf="role=='admin'" (click)="onAddClass()" class="btn btn-outline-secondary margin15">Manage classes</button> 
<button type="button" *ngIf="role=='admin'" (click)="onAddClassroom()" class="btn btn-outline-secondary margin15">Manage classrooms</button>   
<app-new-schedule-modal *ngIf="role=='teacher' || role=='admin'" [events]="newScheduleEventSubject.asObservable()"></app-new-schedule-modal>
<app-manage-users *ngIf="role=='admin' && !refresh" [events]="newUserEventSubject.asObservable()"></app-manage-users>
<app-manage-classes *ngIf="role=='admin' && !refresh" [events]="newClassEventSubject.asObservable()"></app-manage-classes>
<app-manage-classrooms *ngIf="role=='admin' && !refresh" [events]="newClassroomEventSubject.asObservable()"></app-manage-classrooms>
