<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Manage classes</h4>
      <button
        type="button"
        class="close btn btn-outline-dark"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="modal-body">
        <div class="max-width">
            <b>Add new class:</b> <br />
            <form>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_name"
                    >Class name:
                  </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_name"
                  id="class_name"
                  placeholder="Enter class name"
                  [(ngModel)]="class_name"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="teacherSelect"
                    >Select teacher :
                  </label>
                </div>
                <select
                  class="form-control"
                  id="teacherSelect"
                  aria-describedby="basic-addon3"
                  name="teacherselect"
                  [(ngModel)]="class_teacher"
                  required
                >
                  <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.first_name}} {{teacher.last_name}}</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_year">Class year : </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_year"
                  id="class_year"
                  placeholder="Enter class year"
                  [(ngModel)]="class_year"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_section">Class section : </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_section"
                  id="class_section"
                  placeholder="Enter class section"
                  [(ngModel)]="class_section"
                />
              </div>
              <button
                type="button"
                class="btn btn-outline-success"
                (click)="modal.close(1)"
              >
                Save class
              </button>
            </form>
          </div>
          <hr />
          <div class="max-width">
            <b>Edit a class:</b> <br />
            <form>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="classForUpdateSelect"
                    >Select class :
                  </label>
                </div>
                <select
                  class="form-control"
                  id="classForUpdateSelect"
                  aria-describedby="basic-addon3"
                  name="classSelect"
                  [(ngModel)]="updatedClass"
                  required
                >
                  <option hidden>Choose here</option>
                  <option *ngFor="let class of classes" [ngValue]="class">
                    {{ class.name }}
                  </option>
                </select>
                </div>
                <div *ngIf="updatedClass">
                  <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_name"
                    >Class name <i>(old: <b>{{updatedClass.name}}</b>)</i>
                  </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_name"
                  id="update_class_name"
                  placeholder="Enter class name"
                  [(ngModel)]="update_class_name"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="teacherSelect"
                    >Select teacher <i>(old: <b>{{updatedClass.teacher.first_name}} {{updatedClass.teacher.last_name}}</b>)</i>
                  </label>
                </div>
                <select
                  class="form-control"
                  id="teacherSelect"
                  aria-describedby="basic-addon3"
                  name="teacherSelect"
                  [(ngModel)]="update_class_teacher"
                  required
                >
                  <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.first_name}} {{teacher.last_name}}</option>
                </select>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_year">Class year <i>(old: <b>{{updatedClass.year}}</b>)</i> </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_year"
                  id="class_year"
                  placeholder="Enter class year"
                  [(ngModel)]="update_class_year"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="class_section">Class section <i>(old: <b>{{updatedClass.section}}</b>)</i> </label>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="class_section"
                  id="class_section"
                  placeholder="Enter class section"
                  [(ngModel)]="update_class_section"
                />
              </div>
              <button
                type="button"
                class="btn btn-outline-success"
                (click)="modal.close(2)"
              >
                Save
              </button>
              </div>
            </form>
          </div>
          <hr>
          <div class="max-width">
            <b>Delete a class:</b> <br />
            <form>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="classForDeleteSelect"
                    >Select class :
                  </label>
                </div>
                <select
                  class="form-control"
                  id="classForDeleteSelect"
                  aria-describedby="basic-addon3"
                  name="classSelect"
                  [(ngModel)]="selectedClass"
                  required
                >
                  <option hidden>Choose here</option>
                  <option *ngFor="let class of classes" [ngValue]="class">
                    {{ class.name }}
                  </option>
                </select>
                </div>
                
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="modal.close(3)"
              >
                Delete
              </button>
 
            </form>
          </div>
        </div>
  </ng-template>
  