<div class="card" (click)="openModal(content)">
    <h5 class="card-header">{{dayClass.classn.name}}</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Hour : {{dayClass.localTime.slice(0,5)}}</li>
            <li class="list-group-item">Classroom : {{dayClass.classroom.name}} <br> {{dayClass.classroom.location}}</li>
            <li class="list-group-item">Teacher : {{dayClass.classn.teacher.first_name}} {{dayClass.classn.teacher.last_name}}</li>
            <li class="list-group-item">Capacity : {{capacity}}/{{dayClass.classroom.capacity}}</li>
          </ul>
    </div>
  </div>
  <!--{{reservations | json}} <br> ---------------------------------- <br>
  {{dayClass | json}} -->

  <ng-template #content let-modal>
    <div *ngIf="role=='guest'">
        <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Class : {{dayClass.classn.name}}</h4>
        <button type="button" class="close btn btn-outline-secondary" aria-label="Close" (click)="modal.dismiss()">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </div>
      <div class="modal-body">
        <b>Hour:</b> {{dayClass.localTime.slice(0,5)}} <br>
        <b>Section:</b> {{dayClass.classn.section}} <br>
        <b>Year:</b> {{dayClass.classn.year}} <br>
        <b>Teacher:</b> {{dayClass.classn.teacher.first_name}} {{dayClass.classn.teacher.last_name}} <br>
        <b>Classroom:</b> {{dayClass.classroom.name}} <i>at</i> {{dayClass.classroom.location}} <br>
        <b>Capacity:</b> {{capacity}}/{{dayClass.classroom.capacity}}
      </div>
  </div>

  <div *ngIf="role=='student'">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Class : {{dayClass.classn.name}}</h4>
      <button type="button" class="close btn btn-outline-secondary" aria-label="Close" (click)="modal.dismiss()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
    <div class="modal-body">
      <b>Hour:</b> {{dayClass.localTime.slice(0,5)}} <br>
      <b>Section:</b> {{dayClass.classn.section}} <br>
      <b>Year:</b> {{dayClass.classn.year}} <br>
      <b>Teacher:</b> {{dayClass.classn.teacher.first_name}} {{dayClass.classn.teacher.last_name}} <br>
      <b>Classroom:</b> {{dayClass.classroom.name}} <i>at</i> {{dayClass.classroom.location}} <br>
      <b>Capacity:</b> {{capacity}}/{{dayClass.classroom.capacity}}
    </div>
  <div class="modal-footer">
    <div class= "max-width">
       <b>Make a reservation:</b> <br>
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="studentsSelect">Select student : </label>
        </div>
        <select class="form-control" id="studentsSelect" aria-describedby="basic-addon3" name="studentSelect" [(ngModel)]="selectedStudent" required>
          <option hidden>Choose here</option>
          <option *ngFor="let student of students" [value]="student.id"> {{student.first_name}} {{student.last_name}}</option>
        </select>
      </div>
    </form>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Reserve</button>
  </div>
    </div>
   
</div>
  </ng-template>
  